* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #282c34;
  color: white;
}

.App {
  min-height: 100vh;
}

.App-header {
  
}

.App-link {
  color: #61dafb;
}

.dragNdrop {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: flex-start;
}

.dnd__group {
  background-color: #4d5463;
  border-radius: 5px;
  padding: 0.5rem;
}

.dnd__group-title{
  margin-bottom: 0.5rem;
}

.dnd__item {
  text-align: center;
  background-color: #bfc5d3;
  color: rgb(43, 38, 38);
  border-radius: 5px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dnd__item:not(:last-of-type){
  margin-bottom: 0.5rem;
}